<%= render 'shared/errors', obj: @card %>
<%= form_for(@card, :html => {class: "form-horizontal", role: "form"}) do |f| %>

  <div class='form-group'>
    <div class='control-label col-sm-2'>   
      <%= f.label :name %>
    </div>
    <div class='col-sm-4'>
      <%= f.text_field :name, class: "form-control", placeholder: "Enter a Card Name", autofocus: true %>
    </div>
  </div>

  <div class='form-group'>
    <div class='control-label col-sm-2'>
      <%= f.label 'Type' %>
    </div>
    <div class='col-sm-8'>
      <%= f.collection_select :type_id, Type.order(:name), :id, :name, {include_blank: true}, {class: 'card_type_selector'} %>
    </div>
  </div>

  <div class='form-group hidden_option'>
    <div class='control-label col-sm-2'>
      <%= f.label 'Type' %>
    </div>
    <div class='col-sm-8'>
      <%= f.label "test" %>
    </div>
  </div>

  <div class='form-group'>
    <!-- <div class='col-sm-1'></div> -->
    <div class='col-sm-offset-1 col-sm-3'>
      <div class='row'>
        <div class='col-sm-offset-1 col-sm-6 form-add-trait'>Add Card Traits</div>
      </div>      
    </div>
  </div>

  <div class='form-group'>
    <div class='control-label col-sm-12'>
      <div class='col-sm-10'>
        <div class='row'>
          <div class='col-sm-offset-1 col-sm-8 form-nested-field'>
            <%= f.nested_fields_for :traits do |ff| %>
              <div class='col-sm-10'>
                <div class='col-sm-offset-1 col-sm-2'>
                  <%= ff.label 'Trait', class: 'nested-field-label' %>
                </div>
                <div class='col-sm-2'>
                  <%= ff.collection_select :id, Trait.order(:name), :id, :name, include_blank: true %>
                </div>

                <div class='col-sm-1'>   
                  <%= ff.label :value %>
                </div>
                <div class='col-sm-3'>
                  <%= ff.text_field :value, class: "form-control", placeholder: "Enter trait value" %>
                </div>

                <div class='col-sm-3'>
                  <%= ff.remove_nested_fields_link "remove", class: 'btn btn-danger', role: 'button' %>
                </div>
              </div>           

            <% end %>
            <div class='col-sm-1'>
              <%= f.add_nested_fields_link :traits, "Add a trait", class: 'btn btn-primary', role: 'button' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-primary btn-lg' %>
    </div>
  </div>

<% end %>